<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS TEST</title>
  </head>
  <body>
    <div class="return"></div>
  </body>
  <script>
    const re = document.querySelector(".return");

    const a = 6;
    const b = 7;

    if (a + b > 10) {
      re.innerText = "10보다 큼!";
    } else {
      re.innerText = "10보다 작음!";
    }
  </script>
</html>
