<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <button onclick="onClick()">axios 요청하기</button>

    <div class="box"></div>
  </body>
  <script>
    const box = document.querySelector(".box");
    const data = {
      id: 1,
      name: "김김김",
      age: 24,
    };
    const file_list = [
      "aaww1334",
      "asd14123",
      "asssjsjdj2",
      "dddw123",
      "ddjwjwjaa111",
      "djdwjw1",
      "djwjaaaw1",
      "dnansndjw1",
      "dwdwds1112",
      "dwdwwd1231",
      "hshsh12",
      "jdjsdjkkw1",
      "jsjdhdjwh1",
      "like21",
      "nnsd221",
      "nodes1",
      "user12",
      "user22221",
      "wdwdwddw1122313",
      "wdwsss124",
    ];
    const reversed = file_list.reverse();

    const MovePage = (type) => {
      console.log("type", type);
      //axios({ method: "get", url: "/page1" }).then((res) => {});
      window.location.href = `http://localhost:3000/${type}`;
    };

    for (let i = 0; i < 20; i++) {
      const button = document.createElement("button");
      button.innerText = i + 1 + "번 페이지";
      button.onclick = function () {
        MovePage(reversed[i]);
      };
      box.appendChild(button);
      // box.innerHTML += `<button onclick="MovePage(${file_list[i]})">${file_list[i]}</button>`;
    }
    const onClick = () => {
      axios({ method: "post", url: "/axiospost", data: data }).then((res) => {
        console.log(res, "뭐라고 나오니");
      });
    };
  </script>
</html>
