<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <h3>form 전송 실습</h3>
    <h4>회원정보 검색</h4>
    <form action="/getForm" method="get">
      <input type="text" placeholder="회원 검색" name="name" required />
      <button type="submit">회원정보 검색</button>
    </form>

    <hr />
    <h4>회원정보 등록</h4>
    <form action="/postForm" method="post">
      <input
        type="text"
        placeholder="회원 이름을 입력해 주세요"
        name="name"
        required
      />
      <input
        type="text"
        placeholder="나이를 입력해 주세요"
        name="age"
        required
      />
      <input
        type="text"
        placeholder="이메일을 작성해 주세요"
        name="email"
        required
      /><!-- required 입력하지 않으면 값이 넘어가지 않음-->
      <input
        type="password"
        placeholder="password 입력해 주세요"
        name="pw"
        required
      />

      <button type="submit">회원등록</button>
    </form>
  </body>
</html>
