<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/result.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>회원 등록 결과</h1>
      <div class="table">
        <div class="header_row">
          <div class="header_name">이름</div>
          <div class="header_age">나이</div>
          <div class="header_email">이메일</div>
        </div>
        <div class="row"></div>
      </div>
      <a href="/">홈으로 이동</a>
    </div>
  </body>

  <script src="/js/result.js"></script>
</html>
