<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/result.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>회원 찾기</h1>
    <h3>찾고자 하는 회원 명 : <%= username.name %></h3>

    <div class="table">
      <div class="header_row">
        <div>이름</div>
        <div>나이</div>
        <div>이메일</div>
      </div>
      <div class="row"></div>
    </div>
  </body>
  <script src="/js/search.js"></script>
</html>
